<form [formGroup]="artist_search_form" (ngSubmit)="search()">

  <mat-form-field appearance="fill">
    <mat-label>Artist Name</mat-label>
    <input matInput placeholder="Ex. Doja Cat" value="" formControlName="artist_name">
  </mat-form-field>

  <div *ngIf="!artist_search_form.valid && artist_search_form.controls.artist_name.dirty">
    <p class="error-text">Please enter the track name!</p>
  </div>

  <button mat-raised-button color="primary" [disabled]="!artist_search_form.valid">Search</button>
</form>